<div class="container my-3">
  <h2>Waiting User</h2>
  <% if @applies.present? %>
    <div class="table-responsive">
      <table class="table-hover text-nowrap center">
        <thead>
          <tr>
            <th>Name</th>
            <th>Follows</th>
            <th>Followers</th>
            <th>Follow/Unfollow</th>
            <th>Introduction</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @applies.each do |app| %>
            <tr>
              <td>
              <%= link_to user_path(app.user) do %>
                 <%= attachment_image_tag app.user, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "60x60"%>
                 <%= app.user.name %>
              <% end %>
              </td>
              <td>
                Follows: <%= link_to user_followings_path(app.user) do %><%= app.user.followings.count %><% end %>
              </td>
              <td>
                Followers: <%= link_to user_followers_path(app.user) do %><%= app.user.followers.count %><% end %>
              </td>
              <td class="text-center">
                <% if app.user != current_user %>
                  <% if current_user.following?(app.user) %>
                    <%= link_to "Unfolow", user_relationships_path(app.user), method: :delete, class: 'btn btn-danger' %>
                  <% else %>
                    <%= link_to "Follow", user_relationships_path(app.user), method: :post, class: 'btn btn-primary'%>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if app.user.introduction.present? %>
                  <%= app.user.introduction.truncate(30) %>
                <% end %>
              </td>
              <td>
                <%= link_to "承認", group_users_path(group_id: app.group_id, user_id: app.user_id, apply_id: app.id), method: :post, class: 'btn btn-success' %>
                <%= link_to "却下", group_apply_path(app.group, app), method: :delete, class: 'btn btn-danger text-line-none' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
  <p>承認待ちユーザーはいません。</p>
  <% end %>
</div>