<div class="container">
  <h2>Log in</h2>
  <%= form_with url: enter_path do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :mail%><br>
    <%= f.text_field :mail %><br>
    <%= f.submit 'Login' %>
  <% end %>
</div>
