<% comments.each do |comment| %>
  <div class="border post my-2 py-2 pl-4">
    <%= link_to user_path(comment.user_id) do %>
      <%= attachment_image_tag comment.user, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "60x60"%>
      <%= comment.user.name %>
    <% end %>
    <br>
    <%= comment.content %>
    <br>
    <% if comment.user == current_user %>
      <%= link_to "Delete", group_knowledge_comment_path(knowledge_id: comment.knowledge_id, id: comment.id), method: :delete, class:'btn btn-danger' %>
    <% end %>
  </div>
<% end %>