
   
<div class="container my-3">
  <h2>Group detail</h2>
  <!--グループの情報-->
  <div class="text-center">
    <%= attachment_image_tag @group, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "80x80"%>

    <table class="my-3 center">
      <tbody>
        <tr>
          <th>Name</th>
          <td><%= @group.name %></td>
        </tr>
        <tr>
          <th>Introduction</th>
          <td><%= @group.introduction %></td>
        </tr>
        <tr>
          <th>Leader</th>
          <td><%= link_to @leader.name, user_path(@leader) %></td>
        </tr>
      </tbody>
    </table>

    <!--退出のリンクへ飛ぶためにIDを定義-->
     <% if GroupUser.exists?(group_id: @group.id, user_id: current_user.id) %>
      <% group_user = GroupUser.find_by(group_id: @group.id, user_id: current_user.id) %>
      <% id = group_user.id %>
     <% end %>
    <% if @group.leader_id != current_user.id %>
      <!--グループリーダーでなく、GroupUserが存在するなら退会ボタン-->
      <% if GroupUser.exists?(group_id: @group.id, user_id: current_user.id) %>
        <%= link_to "Leave", group_user_path(id: id, group_id: @group.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <!--グループリーダーでなく、GroupUserがないなら、申請の有無で承認機能のボタンを設置-->
        <% if @apply %>
          <%= link_to 'Cancel', group_apply_path(@group, @apply), method: :delete, class: 'btn btn-danger text-line-none' %>
        <% else %>
          <%= link_to 'Apply', group_applies_path(@group), method: :post, class: 'btn btn-success text-line-none' %>
        <% end %>
      <% end %>
    <% else %>
      <!--グループリーダーであり、参加承認待ちのユーザーがいるのであれば、その一覧へのリンクを設置-->
      <% if @applies.present? %>
        <%= link_to "Waiting User", group_applies_path(@group), class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "Edit", edit_group_path(@group), class: 'btn btn-primary' %>
      <%= link_to "Delete", group_path(@group), data: {confirm: "本当に削除しますか？"}, method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </div>
  <!--メンバー一覧-->
  <div class="my-3">
    <h2>Member</h2>
    <%= render 'users/index', users: @users %>
  </div>
</div>