<div class="container my-3">
  <% if @user == @current_user %>
    <h2>Your Page</h2>
  <% else %>
    <h2><%= @user.name %>'s Page</h2>
  <% end %>
  
  <div class="text-center">
    <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "80x80"%>
     <table class="my-3 center">
      <tbody>
        <tr>
          <th>Name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>Introduction</th>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th>Follows</th>
          <td><%= link_to user_followings_path(@user) do %><%= @user.followings.count %><% end %></td>
        </tr>
        <tr>
          <th>Followers</th>
          <td><%= link_to user_followers_path(@user) do %><%= @user.followers.count %><% end %></td>
        </tr>
      </tbody>
    </table>
    <div class="my-3 ", style="display: flex; justify-content: center;">
      <% if @user != current_user %>
       　<!--フォロー登録のボタン-->
        <div class="text-center">
          <% if current_user.following?(@user) %>
          　<%= link_to "Unfolow", user_relationships_path(@user), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to "Follow", user_relationships_path(@user), method: :post, class: 'btn btn-primary'%>
          <% end %>
        </div>
      　<!--DMのためのボタン-->
      　<div>
          <% if (current_user.following?(@user)) && (@user.following?(current_user)) %>
            <% if @isRoom == true %>
              <a href="/rooms/<%= @roomId %>" class="btn btn-primary">Chat</a>
            <% else %>
              <!--Chatボタンを初めて押してRoomを作るとき、その情報をroom/createに送信する-->
              <%= form_for @room do |f| %>
                <!--最初にChatボタンを押した人のidがRoomのuser_idになる-->
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= fields_for @entry do |e| %>
                <!--Room作成と同時に相手ユーザー情報もEntryに保存するため、送信-->
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "Chat", class: 'btn btn-primary user-show-chat'%>
              <% end %>
            <% end %>
          <% end %>
      　</div>
      <% end %>
    </div>
  </div>
  
  <div class="my-3 text-center">
    <% if @user == current_user %>
      <%= link_to "Edit", edit_user_path(@user), class: 'btn btn-primary' %>
      <%= link_to "Make new group", new_group_path, class: 'btn btn-success' %>
    <% end %>
  </div>
  
  <% if @user == current_user %>
    <h2>Your Group</h2>
  <% else %>
    <h2><%= @user.name %>'s Group</h2>
  <% end %>
  <% if @groups.present?%>
    <%= render 'groups/index', groups: @groups %>
  <% else %>
    <p>グループを作成しましょう。</p>
  <% end %>
</div>