<div class="container my-3">
  <!--どのユーザーとのRoomかを示す-->
  <% @entries.each do |e| %>
    <div>
    　<!--エントリーしている2人のうち、相手の名前だけを表示-->
      <% if e.user != current_user %>
        <h3>
          Chat with
          <%= link_to user_path(e.user) do %>
            <%= e.user.name %>
          <% end %>
        </h3>
      <% end %>
    </div>
  <% end %>

  <div class="chats">
    <!--DM投稿-->
    <div class="posts">
      <%= form_with model:@message, local:true do |f| %>
        <%= render 'layouts/errors', model: f.object %>
        <%= f.text_field :content, placeholder: "Input messages", class: "form-text-field w-100" %>
        <!--どのroom内のmessageかを保存するためにmessages/createアクションに送信-->
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿", class: 'form_submit btn btn-success my-2' %>
      <% end %>
    </div>
    <!--DM内容-->
    <div class="chat">
      <% if @messages.present? %>
        <% @messages.each do |m| %>
          <div class="my-3">
            <div class="chat-user mb-1">
               <%= attachment_image_tag m.user, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "40x40"%>
               <%= m.user.name %>
            </div>
            <div class="chat-content">
              <!--メッセージの投稿者が自分か否かで色分け-->
              <% if m.user == current_user %>
                <div class="border px-1 py-1", style="border-radius: 7px; background-color: #FECFA4;">
                  <%= m.content %>
                </div>
              <% else %>
                <div class="border px-1 py-1", style="border-radius: 7px;">
                  <%= m.content %>
                </div>
              <% end %>
              <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>